.header {
    background-color: #8FC1B5;
}
.nav-wrapper {
    display: flex;
    justify-content: space-around;
    background-color: #8FC1B5;
}

.nav-icons {
    display: flex;
    margin-top: 30px;
}

.nav-icons li {
    margin-right: 10px;
    list-style-type: none;
}
  
.nav-icons li i {
    font-size: 24px;
}
  
.nav-icons li {
    padding: 10px 10px;
}

.title-header {
    align-items: center;
    margin-top: 30px;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.heroGrid {
    height: 60vh;
    width: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.heroGrid img {
    height: 100%;
    width: 100%;
    object-fit: cover; /* define how the picture fits into the parent box */
    object-position: 50% 100%;
}

/* .heroGrid .row {
    display: flex;
    justify-content: center;
} */

.heroGrid .Headline{
    background-color: rgba(255, 255, 255, 0.7);
    border-bottom: 5px solid rgba(188, 108, 37, 1);
    position: absolute;
    margin-top: 0%;
    top: 20%;
    left: 50%;
    padding: 2%;
}

.heroGrid h3 {
    font-size: 250%;
    color: #253659;
    text-shadow: 2px 2px 10px #000000;
    text-align: center;
}

.heroGrid p {
    font-size: 25px;
    font-family: "Oswald", sans-serif;
    color: #1e5959;
    text-align: center;
}

.AboutMe {
    background-color: #0B2B40;
    min-height: 70vh;
    width: 100%;
    display: flex;
    justify-content: center;
}

.AboutMe .container {
    width: 100%;
    height: 100%;
}

.AboutMe .row {
    background-color: white;
    font-size: 20px;
    font-family: "Oswald", sans-serif;
    margin-top: 3%;
    margin-bottom: 3%;
    height: 100%;
    padding-bottom: 0%;
}

.AboutMe .col-lg-8 {
    padding: 0px 2%;
    margin: 0 0 2% 0;
    height: 100%;
}

.AboutMe .col-lg-4 {
    padding-right: 0;
}

.AboutMe p {
    /* margin: 0px 20px; */
    padding: 0 5%;
    position: relative;
}

.AboutMe ul {
    padding: 0 10%;
    margin: 0 0 2% 0;
}

.AboutMe li {
    margin: 0 0 2% 0;
}

.AboutMe img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

/* Front-end projects  */

.devProject {
    padding: 0 10%;
}
.devProject h2 {
    text-align: center;
    padding: 3% 0 0 0;
}

.devProject h3 {
    text-align: center;
    font-family: "Oswald", sans-serif;
}

.devProject .row {
    display: flex;
    justify-content: center;
    justify-items: center;
    margin: 2% 2%;
}

.devProject .row .col-lg-4 {
    display: flex;
    justify-content: center;
    margin: 2% 0;
    padding: 0;
}

.researchProjects h2 {
    text-align: center;
    margin: 5% 0 2% 0;
}

.devProject .card {
    width: 80%;
    height: 100%;
    margin: 0;
    padding: 0 0 2% 0;
    border-radius: 0;
    border-color: #E3C75F;
    background-color:#E3C75F;
}

.devProject .col-lg-4 :hover{
    background-color:azure;
}

.devProject a {
    object-fit: contain;
}
.devProject img {
    object-fit: cover;
    height: 25vh;
    width: 100%;
    padding: 4% 3%;
}

.devProject p {
    margin: 0% 3%;
}

/* Research projects  */
.researchProjects {
    text-decoration: none;
    margin-bottom: 5%;
}

.researchProjects .headTitle {
    text-align: center;
    font-size: 25px;
    font-family: "Oswald", "Anton", sans-serif;
    margin: 0 0 2% 0;
}

.researchProjects .title {
    font-family: "Oswald", Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 25px;
    margin-bottom: 5%;
}

.researchProjects .projectCO2 img {
    width: 80%;
}

.researchProjects .projectCO2 .col-lg-5 {
    text-align: center;
    margin: 0 0 0 5%;
}

.researchProjects .row p {
    margin: 3% 10% 3% 15%;
}
/* Interesting facts  */

.interestingFacts {
    background-color: #5FCDD9;
    min-height: 40vh;
    width: 100%;
}

.interestingFacts .row {
    height: 100%;
    /* display: flex; */
    /* justify-content: center;
    justify-items: center; */
    margin: 3% 0;
    /* margin-bottom: 3%; */
}
.interestingFacts h2 {
    text-align: center;
    color: #0B2B40;
    padding: 2% 0% 0% 0%;
    margin: auto 0px;
    font-size: 40px;
}

.interestingFacts .col-md-6 {
    margin: 0px 0px 3% 0px;
    text-align: center;
    width: 100%;
    min-height: 45%;
}

.interestingFacts .col-md-6 h4 {
    font-size: 30px;
}

.interestingFacts .col-md-6 p {
    font-size: 25px;
    font-family: "Pacifico",sans-serif;
    /* height: 100%; */
}

/* Personal contacts  */
.contact h2 {
    text-align: center;
    margin-bottom: 4%;
}

.contact div {
    display: flex;
    justify-content: center;
    margin: 1% 0px;
    padding: 1% 1%;
}

.contact .contactInfo p {
    font-size: 25px;
    border-color: #253659;
    border: 2%;
    width: 20%;
    text-align: center;
}

.contact .email p{
    font-size: 25px;
    border-color: #253659;
    border: 2%;
    text-align: center;
}

.contact .contactInfo a {
    text-decoration: none;
    text-align: center;
    padding: 3%;
    border-radius: 8px;
}

.contact .email a {
    text-decoration: none;
    text-align: center;
    padding: 1%;
    border-radius: 8px;
}

.contact p :hover {
    background-color: #253659;
    color:rgba(255, 255, 255, 1);
    /* padding: 2%; */
}

.contact .email{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.contact .email p {
    width: 100%;
    text-align: center;
}
@media only screen and (max-width: 600px) {
    .contactInfo{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

/* @media only screen and (max-width: 450px) {
    #email {
        width: 100%;
    }
} */

/* * {box-sizing:border-box} */

/* Slideshow container */
/* .slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
} */

/* Hide the images by default */
/* .mySlides {
  display: none;
} */

/* Next & previous buttons */
/* .prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
} */

/* Position the "next button" to the right */
/* .next {
  right: 0;
  border-radius: 3px 0 0 3px;
} */

/* On hover, add a black background color with a little bit see-through */
/* .prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
} */

/* Caption text */
/* .text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
} */

/* Number text (1/3 etc) */
/* .numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
} */

/* The dots/bullets/indicators */
/* .dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
} */

/* Fading animation */
/* .fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
} */
/* .contact a :hover {
    padding: 2%;
} */

/* #AboutMe{
    display: grid;
    grid-template-columns: 300px 900px;
    grid-template-rows: 1fr;
    grid-template-areas:
    "AboutMeTitle AboutMeText"
    ;
    margin: 10px 10px; 
}

#AboutMeTitle{
    grid-area: AboutMeTitle;
    display: flex;
    align-items: start;
    justify-content: flex-end;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 35px;
    border-right: 5px solid  rgb(110, 125, 171);
    padding: 25px;
}

#AboutMeText{
    grid-area: AboutMeText;
    padding: 5%;
} */

/* #Work{
    display: grid;
    grid-template-columns: 300px 450px 450px;
    grid-template-rows: 300px 300px 300px;
    grid-template-areas:
    "WorkTitle Project1 Project1"
    "WorkTitle Project2 Project3"
    "WorkTitle Project4 Project5"
    ;
    margin: 20px 10px;
} */

/* #WorkTitle{
    grid-area: WorkTitle;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 35px;
    border-right: 5px solid  rgb(110, 125, 171);
    padding: 25px;
}

.heading{
    display: flex;
    align-items: flex-end;
    justify-content: center;
    background-color: rgba(254, 250, 224, 0.8);
    height: 30px;
    padding: 5px 5px;
    font-size: 20px;
    color: rgba(188, 108, 37, 1);
} */

/* #Project1{
    grid-area: Project1;
    background-image: url(../assets/images/panel.jpg);
    margin-bottom: 10px;
}

#Project2{
    grid-area: Project2;
    background-image: url(../assets/images/panel.jpg);
    margin: 10px 0px;
}

#Project3{
    grid-area: Project3;
    background-image: url(../assets/images/panel.jpg);
    margin: 10px 0px;
}

#Project4{
    grid-area: Project4;
    background-image: url(../assets/images/panel.jpg);
    margin-top: 10px;
}

#Project5{
    grid-area: Project5;
    background-image: url(../assets/images/panel.jpg);
    margin-top: 10px;
} */
/* 
#Project1,
#Project2,
#Project3,
#Project4,
#Project5{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 10px;
    margin-left: 10px;
    margin-right: 10px;
    display: grid;
    align-content: end;
    cursor: pointer;
    border: 3px solid rgb(221, 161, 94);
} */

/* #Contact{
    display: grid;
    grid-template-columns: 300px 900px;
    grid-template-rows: 1fr;
    grid-template-areas:
    "ContactTitle ContactDetails";
    margin: 20px 10px;
} */

/* #ContactTitle{
    grid-area: ContactTitle;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 35px;
    border-right: 5px solid  rgb(110, 125, 171);
    padding: 25px;
}

#ContactDetails{
    grid-area: ContactDetails;
}

#Phone,
#Email, 
#GitHub,
#LinkedIn{
    display: inline-block;
    padding: 20px;
    margin: 20px;
} */